/* Cколько снизу свободного места было! Оно идеально подошло, чтобы писать мои стили! */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Arial";
}
main {
  width: 2432px;
  height: 694px;
}
/* general structure of buttons and tags */
button {
  display: block;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 900;
  line-height: 25.38px;
  text-align: center;
}
a {
  text-decoration: none;
}
.btn__green_font {
  color: #42940f;
}
.btn__white_font {
  color: #ffffff;
}
.novelty_tag {
  position: absolute;
  width: 111px;
  height: 25px;
  background: #fdcff3;
  color: #2f2f2f;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
.latest_tag {
  position: absolute;
  width: 136px;
  height: 25px;
  background: #ffcf56;
  color: #2f2f2f;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}
/* block aside*/
aside {
  position: absolute;
  width: 482px;
  height: 425px;
  background-color: #ffffff;
}
article {
  position: absolute;
  left: 512px;
  width: 1920px;
  height: 694px;
  background-color: #f6f6f6;
}
.aside__buttons {
  position: absolute;
  width: 312px;
  height: 360px;
  left: 0px;
  top: 9.67px;
  border: 1px dashed #7b61ff;
  border-radius: 5px;
}
.aside__button {
  width: 272px;
  height: 48px;
  margin-left: 20px;
}
.button_basket {
  background-color: #ffffff;
  border: 4px solid #42940f;
  margin-top: 20px;
}
.button_finished {
  background: #4e4e4e;
  border: 2px solid #4e4e4e;
  margin-top: 40px;
}
.aside__button_third {
  background: #42940f;
  border: 4px solid #42940f;
  margin-top: 40px;
}
.aside__button_fourth {
  background: #1f5200;
  border: 4px solid #1f5200;
  margin-top: 40px;
}
.aside__label {
  position: absolute;
  left: 4.15%;
  width: 87.99px;
  height: 15.97px;
  background-color: #7b61ff;
  border-radius: 4px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 13.8px;
  text-align: center;
}
.label_first {
  left: calc(4.15%+0.22%);
  top: 1.71%;
}

.label_second {
  top: 22.39%;
}

.label_third {
  top: 43.47%;
}

.label_fourth {
  top: 64.22%;
}
.aside__tags {
  position: absolute;
  width: 170px;
  height: 108px;
  left: 312px;
  top: 9.67px;
  border: 1px dashed #7b61ff;
  border-radius: 5px;
}
.aside__tag_new {
  left: 19.27px;
  top: 19.67px;
}
.aside__tag_last {
  left: 19.27px;
  top: 64.67px;
}
/* block article*/
.div__main_text {
  width: 481px;
  height: 72px;
  margin-left: 719.5px;
  margin-top: 40px;
  font-weight: 900;
  font-size: 48px;
  line-height: 72px;
  color: #000000;
  text-align: center;
}
.atrictle__div {
  position: absolute;
  top: 152px;
  width: 380px;
  height: 482px;
  box-shadow: 0px 0px 45px -4px rgba(0, 0, 0, 0.18);
  border-radius: 12px;
  background: url(img/Image.jpg) no-repeat;
  background-color: #ffffff;
}
.product_card_first {
  left: 370px;
}
.product_card_second {
  left: 770px;
}
.product_card_third {
  left: 1170px;
}
.article__tag_new {
  left: 16px;
  top: 16px;
}
.article__tag_last {
  left: 143px;
  top: 16.33px;
}
.article__product_card_title {
  position: absolute;
  height: 36px;
  left: 24px;
  right: 24px;
  top: 237.75px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 36px;
  color: #2f2f2f;
}
.article__product_card_text {
  position: absolute;
  height: 96px;
  left: 24px;
  right: 24px;
  top: 289.75px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #2f2f2f;
  text-align: left;
}
.article__button {
  width: 332px;
  height: 48px;
  margin-top: 418px;
  margin-left: 24px;
}
